.introduction {
  width: 100%;
  display: flex;

}


 .header {
  text-align: right;
  /* font */
}


.job {
  text-align: right;
  /* add different font */
}

.description {
  text-align: right;
  padding-left: 100px;

}


.line {
  height: 3px;
  background-color: #7d97ad;

}


.work {
  /*margin-left: auto;
  margin-right: 10px;*/
  width: 100%;
  display: flex;
  padding-top: 30px;

}


.featured {
  color: #7d97ad;

}


.tulip {
  max-width: 100px;
  max-height: 100px;
  padding-top: 27px;

}


.purple {
  max-width: 175px;
  max-height: 175px;

}


.bunny {
  max-width: 175px;
  max-height: 175px;

}


.yellow {
  max-width: 175px;
  max-height: 175px;

}


.links {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: -40px;


}

/*.figure {
  display: inline-grid;
  margin: auto; */


.cap {
  text-align: center;
  color: #2d3c49;
  
}


@media screen and (min-width: 450px)
{ img.work {width: 650px;
  }
}
