.header {
  text-align: right;
  /* font */
}

.job {
  text-align: right;
  /* add different font */
}

.line {
  height: 3px;
  background-color: #7d97ad;
}

.tulip {
  max-width: 100px;
  max-height: 100px;

}

.work

@media and screen (max-width: 900px) {
  .tulip, .header {
  width: 50%;
  }
}
